*{
    margin: 0;
    padding: 0;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Arial";
    gap: 16px;
    background-color: #2e2e2e;
}


.card{

    background-color: #ffffff;
    width: 260px;
    height: 340px;      
    border-radius: 12px;
    box-shadow: 4px 4px 12px #020202cb;
}

.card img{
    width: 100%;
    height: 170px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}

.card h1{
    font-family: monospace;
    font-size: 1.4rem;
    margin-bottom: 13px;
    border-right: 4px solid;
    width: 6ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(10), blinking 0.5s infinite step-end, alternate;
}
@keyframes typing {
    from {
        width: 0;
    }
}
@keyframes blinking {
    50% {
        border-color: transparent;
    }
}
.card h2{
    font-size: 0.7rem;
    color: #595a5c;
    
}

.card button{
    background-color: hsl(209, 100%, 57%);
    height: 30px;
    border: 1px solid #555;
    padding: 10px, 8px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}


