*{
    margin: 0;
    padding: 0;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Arial";
    gap: 16px;
    background-image: url(th.png);
}

.card{

    background-color: rgb(144, 189, 228);
    width: 180px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaa;
}